/* ------------------------- PUBLIC CSS --------------------------------  */

html, body{
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    
}

nav{
    
    height: 80px;
    
}

.li-nav{
    
    margin-top: 15px;
    position: relative;
    
}

nav ul li a{
    
    
    
}

nav ul li {
    
    padding-left: 25px;
    padding-right: 25px;
    
}

.li-nav-profile{
    
    height: 130px;
    background-color: #00bff3;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.name-nav{
    width: 100%;
    position: absolute;
    right: 0px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    
}

.navbar-brand img{
    
    width: 150px;
    
}

/*-------------------------------*/

/* NAVSCROLL DOWN */

.shrink{
    
    background-color: rgba(190, 190, 190, 0.53);
    height: 60px;
    transition: 0.2s ease-out;
    
}

.shrink .li-nav-profile{
    
    height: 0px;
    background-color: #00bff3;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -10px;
    
}

.shrink .li-nav-profile img{
    
    border: 2px solid #48a8cb;
    transition: 0.2s ease-out;
    
}

.shrink .navbar-brand img{
    
    width: 120px;
    margin-top: 0px;
    transition: 0.2s ease-out;
    
}

.shrink li a{
    
    font-size: 8pt;
    font-weight: bold;
    transition: 0.2s ease-out;
    
}

.shrink .li-nav{
    
    margin-top: 5px
    
}

.shrink .name-nav{
    display: none;
    
}

.shrink .hamburger{
    
     margin-top: 10px;
    
}

/* NAVSCHROOL DOWN */



/* faq */

footer{
    
    margin-top: 100px;
    color: white;
    background-color: #1d1d1d;
    
}

.footer img{
    
    margin-bottom: 20px;
    
}

.footer span{
    
    font-size: 9pt;
    
}

footer ul li{
    
    text-decoration: none;
    list-style: none;
    width: 100%;
    margin-left: -40px;
    
}

footer .footer{
    
    height: auto;
    padding: 50px;
}

.footer-col-4{
    
    margin-bottom: 30px;
    
}

/* END BURGER BAR DOWN */

.iconx{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    cursor: pointer;
    
}

.hamburger{
    
    margin-top: 20px;
    width: 30px;
    height: 6px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%; /* penting */
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
    
    
}

.hamburger:before, .hamburger:after{
    
    content: '';
    position: absolute;
    width: 30px;
    left: 0%; /* penting */
    height: 6px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: : .5s;
    
}

.hamburger:before{
    
    top: -8px;
    
}
.hamburger:after{
    
    top: 8px;
    
}


.nav-close{
    
    display: none;
    
}

/* END HAMBURGER MENU */


/*---------------------------------------- */

@media only screen and (max-width: 991px) and (min-width: 769px){
    
     body{
        
        
    }
    
    nav{
    
        height: 80px

    }

    .li-nav{

        margin-top: 15px

    }

    nav ul li {

        padding-left: 5px;
        padding-right: 5px

    }

    .li-nav-profile{

        height: 130px;
        background-color: #00bff3;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        padding-left: 10px;
        padding-right: 10px;


    }
    
    
    
}


/* ------------------------------------ PRIVATE CSS FAQ ---------------------------------------- */

nav ul li a{
    
    color: white;
    font-weight: bold;
    
}

nav ul li a .li-nav, .active{
    
    color: white;
    border: 1px solid #eee;
    border-radius: 25px;
    margin-right: 20px;
    
}

.big-banner{
    
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: aqua;
    background: url(../images/31.jpg);
    top: 0;
    display: table;
    background-size: cover;
    position: relative;
    
}

.big-banner h1{
    
    font-size: 48pt;
    
}

.big-banner .banner-content{
    
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    max-width: none;
    text-align: right;
    position: relative;
    
}

.banner-content {
    
    color: white;
    
}

.banner-content p{
    
    line-height: 20pt;
    font-size: 14pt;
    padding-top: 20px
    
}

.banner-content button{
    
    background-color: #171717;
    color: white;
    padding: 20px 30px;
    border-radius: 50px;
    
}

.content {
    
    width: 100%;
    height: 100%;
    margin-top: 100px;
    float: left;
}


.content h1{
    
    font-family: 'Century Gothic', sans-serif;
    color: #f9f3f4;
    font-size: 800%;
    text-align: right;
    text-shadow: 0 0 300px #000;
    margin-bottom: 10px;
    
}

.content p{
    
    color: white;
    text-align: right;
    font-size: 10pt;
    
}

.header-service{
    
    font-size: 34pt;
    color: #00bff3;
    font-weight: bold;
    
}

.service-content{
    
    text-align: center;
    padding-top: 60px;
    margin-bottom: 100px;
    
}

.tagline-service{
    
    font-size: 10pt;
    width: 30%;
    margin: auto;
    
}

.service{
    
    text-align: center;
    font-size: 14pt;
    padding-top: 50px;
    
}

.img-service{
    
    width: 50%;
    margin: auto;
    
}

.img-service img{
    
    width: 100%;
    
}

.title-service{
    
    margin-bottom: 20px;
    height: 50px;
    color: #48a8cb
    
}

.caption-service{
    
    line-height: 20pt;
    word-spacing: 2px;
    
}


.story{
    
    height: 100%;
    width: 100%;
    color: #48a8cb;
    overflow: hidden;
    position: relative;
    
}

.story-content{
    
    padding-top: 200px;
    
}

.img-story{
    
    width: 100%;
    
}

.img-story img{
    
    width: 50%
    
}

.caption-story{
    
    color: #48a8cb;
    font-size: 10pt;
    line-height: 20pt;
    word-spacing: 2pt;
    padding-top: 30px;
    
}

.profile-img-story{
    
    width: 100%;
    
}

.profile-img-story img{
    
    width: 120%;
    position: absolute;
    top: -100px;
    right: -100px;
}

.wework{
    
    height: 100%;
    width: 100%;
    background-image: url(../images/background-wework.jpg);
    background-color: rgba(0, 0, 0, 0.53);
    background-size: cover;
    background-blend-mode: darken;;
    
}

.wework-content{
    
    color: white;
    text-align: center;
    
}


.app{
    
    height: 500px;
    width: 100%;
    background-color: #34bff3;
    color: white;
    
}

.caption-app{
    
    padding-top: 50px;
    
}

.caption-app h1{
    
    font-weight: bold;
    padding-top: 20px;
    
}

.caption-app p{
    
    line-height: 20pt;
    font-size: 14pt;
    word-spacing: 2pt;
    padding-top: 20px;
    
}

.caption-app button{
    
    border-radius: 50px;
    background-color: #1d1d1d;
    font-size: 14pt;
    padding:15px 30px;
    margin-top: 10px;
    
}

.app-phone{
    
    width: 300px
    
}

.app-phone img{
    
    width: 100%;
    
}


.journey{
    
    height: 500px;
    padding-top: 50px;
    
}

.list-journey{
    
    padding-top: 50px;
    
}

.journey-content{
    
    text-align: center;
    
}

.journey-content h1{
    
    font-size: 48pt;
    font-weight: bold;
    
}

.journey-content p{
    
    padding-top: 50px;
    font-size: 48pt;
    
}

.form-subscribe{
    
    padding: 50px 200px;
    background: linear-gradient(132deg, #42c3f2, #046191);
    color: white;
    border-radius: 50px;
    
}

.form-subscribe h2{
    
    padding: 0;
    font-size: 18pt;
    text-align: center;
    padding-bottom: 50px
    
}

.form-subscribe input{
    
    padding: 25px;
    border-radius: 50px;
}

.btn-subscribe{
    
    padding: 20px 50px;
    font-size: 14pt;
    background-color: #e31d1d;
    border-radius: 50px;
    font-weight: bold;
    width: 100%;
    
    
}

.collaboration{
    
    text-align: center;
    padding-top: 100px;
    
}

.collaboration h1{
    
    font-size: 48pt;
    color: #00bff3;
    font-weight: bold;
    
}

.img-collaboration {
    
    width: 200px;
    text-align: center;
    padding-top: 50px;
    
}

